/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* UTILS */
.d-flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.align-center{
  align-items: center;
}

/* HEADER */


header{
  justify-content: flex-end;
  height: 30px;
  width: 100%;
  background-color: black;
}

header button{
  margin-right: 5px;
  padding: 5px 7px;
  border-radius: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}



/* MAIN */


main{
  height: calc(100vh - 100px);
  max-width: 100vw;
  padding: 20px;

  overflow: auto;
  background-color: lightgreen;
}

main .image{
  position: relative;
  width: 200px;
  height: 150px;
}

main .image .text{
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px 7px;
}



/* FOOTER */


footer{
  justify-content: space-between;
  height: 70px;
  width: 100%;
  color: white;
  background-color: #222222;
}

footer nav ul{
  list-style: none;
}

/* dare la classe "d-flex" a tutti gli "li" che hanno icona */
footer nav ul li{
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

/* ICONA */
footer nav ul li i{
  font-size: 25px;
  margin-bottom: 5px;
}
/* SCRITTA */
footer nav ul li div{
  font-size: 10px;
  font-weight: bold;
}
/* FRECCETTA IN SU */
footer nav ul li .fa-angle-up{
  font-size: 10px;
  margin-top: 20px;
}

footer nav ul li .fa-share-from-square{
  color: #46b604;
}

footer button{
  color: red;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
}
